<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Crud</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <style>
    body {
      background-image: url('https://i.pinimg.com/originals/3b/05/01/3b050181e9cfe52756deec99729dc87a.jpg');
      }
     p {

      font-family: Arial;
       color: #003A4D;

      }
    h1{ 
      color: #4E10C2; 
      }
  </style>
</head>

<body>

  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light ">
      <a class="navbar-brand" href="/">Home</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/livres">Crud Añadir canciones</a>
        </li>
      </ul>
    </nav>
