<%- include("_header") -%>
<body>
 <h1>Hola </h1>
  <p>
    ¿Quieres agregar una canción?, ve a la parte de arriba y presiona <b>"Crud Añadir canciones".</b> o <a href="livres">aquí</a>
  </p> 
  <p>
    No sabes que canción poner ?. Estos son los artistas más escuchados de 2022 (<a href="https://open.spotify.com/artist/3Nrfpe0tUJi4K4DXYWgMUX">Spotify</a>).
    
  </p>

  
  <p>
    <b>1. Bad Bunny.</b>
    El estreno e "Un Verano Sin Ti" ha sido todo un fenómeno para el puertorriqueño, quien ya el año pasado se llevó el título del más escuchado en Spotify y este año tiene fuertes posibilidades para repetir
  </p>
  <p>
    <b>2. Harry Styles</b>
    El británico ex integrante de One Direction está rompiendo toda clase de récords con su disco "Harry's House" y ello se refleja ahora que es el segundo artista más escuchado a nivel internacional.
  </p>
  <p>
    <b>3. Taylor Swift</b>
    Con una gran base de seguidores que no la abandona, Taylor Swift no necesita estrenar material para seguir como la cantante femenina más escuchada en Spotify, un puesto que ha mantenido por mucho tiempo.
  </p>
  <p>
    <b>4. Post Malone</b>
    El rapero había estado un tanto desaparecido hasta que volvió con todo estrenando su disco "Twelve Carat Tootache" el cual incluye colaboraciones con Doja Cat, Roddy Ricch y The Kid LAROI.
  </p>
  <p>
    <b>5. The Weekend</b>
    El cantante de R&B llegó a 2022 por la puerta grande con "Dawn FM" todo un éxito tanto en reproducciones de streaming como en la crítica, por lo que Abel Tesfaye además de tener uno de los grandes discos del año se mantiene entre los favoritos del público.
  </p>
  <p>
    <b>6. Drake</b>
    El canadiense que colaboró con Jack Harlow en el reciente disco de su colega, no ha lanzado música como solista este año pero su álbum "Certified Lover Boy" sigue gozando de la gran popularidad que tuvo el año pasado cuando posicionó cada una de sus canciones en lo más escuchado en listas de Billboard.
  </p>
  <p>
    <b>7. BTS</b>
    Mientras el sencillo "Butter" nominado al Grammy sigue imponiendo nuevas marcas de permanencia en listas de éxitos, BTS lo tiene todo para subir puestos en este top ya que el grupo de K-Pop estrenó su disco recopilatorio "Proof" que está teniendo un gran recibimiento.
  </p>
  <p>
    <b>8. Ed Sheeran</b>
    El cantante británico incursionó en la música latina al lado de J Balvin con dos sencillos, además de haber participado en el disco "Familia" de Camila Cabello con "Bam Bam", un hit que mantiene al artista en lo más escuchado hasta el día de hoy.
  </p>
  <p>
    <b>9. Justin Bieber</b>
    Aunque su disco "Justice" salió el año pasado y desde entonces no ha lanzado nueva música, el canadiense sigue rompiendo récords con "STAY", la canción con The Kid LAROI que a un año de su lanzamiento sigue siendo de las más populares.
  </p>
  <p>
    <b>10. Rauw Alejandro</b>
    Hace un par de años era una promesa en la música urbana, y hoy en día Rauw Alejandro se consolida como uno de los más populares en la escena latina debido al gran éxito de su canción "Todo de ti" y su reciente colaboración con Shakira en "Te Felicito".
  </p>
  
</body>
  

  


  

